[Desktop Entry]
Encoding=UTF-8
Name=Link to WallBall.h
Type=Link
URL=https://dl-web.dropbox.com/get/Game%20Tech/WallBall.h?w=AABtchvW4CjNGkiHNnMfKBuGKa_XLqEijY8W1jisjuBSow
Icon=text-html
